body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 #historyBtn{
   background-color: black;
   color:white;
   padding: 5px 12px;
 }
  
  main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  h1 {
    margin: 0;
  }
  
  #searchPage {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #searchInput {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  
#searchBtn{
  border:0px;
  font-size:20px;
  color:white;
  background-color: black;
  padding: 6px 10px;
  border-radius: 30px;
  
}
/* ........................... */
#historyPage-header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#searchPageBtn{
 background-color: black;
 color:white;
 padding: 5px 12px;
}
/* ....................... */
  
  #historyContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wordCard {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .wordCard p {
    margin: 0;
  }
  
  #historyPage {
    display: none;
  }
  
  #historyPage h2 {
    margin-top: 0;
  }
  